:root {
  --mv-space-0: 0px;
  --mv-space-1: 4px;
  --mv-space-2: 8px;
  --mv-space-3: 12px;
  --mv-space-4: 16px;
  --mv-space-5: 20px;
  --mv-space-6: 24px;
  --mv-space-8: 32px;
  --mv-space-10: 40px;
  --mv-space-12: 48px;
  --mv-space-16: 64px;
}
